<nav class="navbar navbar-fixed-top cl-blue-navbar">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left cl-text-white margin-left">
                <a href="#!/user/{{model.uid}}/website" class="cl-text-white">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="cl-text-white navbar-brand cl-text-bold">
                    Websites
                </a>
            </div>
            <div class="navbar-text pull-right margin-right">
                <a href="#!/user/{{model.uid}}/website/new" class="cl-text-white">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left margin-left">
                <a href="#!/user/{{model.uid}}/website" class="cl-text-white visible-xs">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right margin-right">
                <a ng-click="model.newWebsite(model.websiteName, model.websiteDesc)" class="cl-text-white">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="cl-text-white navbar-brand cl-text-bold">
                    New Website
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs col4-style-blue">
        <ul class="list-group borderless">
            <li ng-repeat="website in model.websites" class="list-group-item cl-list-item-borderless">
                <a href="#!/user/{{website.developerId}}/website/{{website._id}}">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
                <a href="#!/user/{{website.developerId}}/website/{{website._id}}/page">
                    {{website.name}}
                </a>
            </li>
        </ul>
    </div>


    <div class="col-xs-12 col-sm-8 pull-right">
        <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
        <form>
            <div class="form-group">
                <label for="websiteName">Name</label>
                <input type="text" class="form-control" id="websiteName" placeholder="Name"
                       ng-model="model.websiteName"
                       required>
            </div>
            <div class="form-group">
                <label for="websiteDesc">Description</label>
                <textarea class="form-control" id="websiteDesc" rows="5" placeholder="Description"
                          ng-model="model.websiteDesc">
                </textarea>
            </div>
        </form>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom cl-blue-navbar">
    <div class="container-fuild">
        <a href="#!/user/{{model.uid}}" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>