<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left margin-left">
            <a href="#!/website" class="cl-text-black">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="navbar-brand cl-text-bold">
            Pages
        </a>
        <div class="navbar-text pull-right cl-icon-padding">
            <a href="#!/website/{{model.wid}}/page/new" class="cl-text-black">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group borderless">
        <li ng-repeat="page in model.pages" class="list-group-item cl-list-item-borderless">
            <a href="#!/website/{{model.wid}}/page/{{page._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
            <a href="#!/website/{{model.wid}}/page/{{page._id}}/widget">
                {{page.name}}
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-fixed-bottom navbar-default">
    <div class="container-fuild">
        <div class="navbar-text pull-right">
            <a href="#!/profile" class="cl-text-blue cl-icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>