<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left margin-left">
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
               class="cl-text-black">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="navbar-brand cl-text-bold">
            Widget Edit
        </a>
        <div class="navbar-text pull-right cl-icon-padding">
            <a ng-click="model.updateWidget(model.widget)" class="cl-text-black">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-switch="model.widget.widgetType">
        <div ng-switch-when="HEADING">
            <div ng-include src="'views/widget/widget-heading-edit.view.client.html'"></div>
        </div>
        <div ng-switch-when="IMAGE">
            <div ng-include src="'views/widget/widget-image-edit.view.client.html'"></div>
        </div>
        <div ng-switch-when="YOUTUBE">
            <div ng-include src="'views/widget/widget-youtube-edit.view.client.html'"></div>
        </div>
        <div ng-switch-when="HTML">
            <div ng-include src="'views/widget/widget-html-edit.view.client.html'"></div>
        </div>
        <div ng-switch-when="TEXT">
            Text
            <input ng-model="model.widget.text" class="form-control"/>
            Rows
            <input ng-model="model.widget.rows" class="form-control" type="number"/>
            Placeholder
            <input ng-model="model.widget.placeholder" class="form-control"/>
            Formatted
            <input ng-model="model.widget.formatted" type="checkbox"/>
        </div>

        <a class="margin-top btn btn-danger btn-block" ng-click="model.deleteWidget(model.widget)">Delete</a>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-default">
    <div class="container-fuild">
        <div class="navbar-text pull-right cl-icon-padding">
            <a href="#!/user/{{model.uid}}" class="cl-text-blue">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>