<label for="name">Name</label>
<input type="text" class="form-control" placeholder="YouTube Name" id="name">
<label for="text">Text</label>
<input type="text" class="form-control" placeholder="YouTube Text" id="text">
<label for="url">URL</label>
<input ng-model="model.widget.url" type="text" class="form-control"
       placeholder="YouTube URL" id="url">
<label for="width">Width</label>
<input ng-model="model.widget.width" type="text" class="form-control"
       placeholder="YouTube Width" id="width">