<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left margin-left">
            <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget" class="cl-text-black">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="navbar-brand cl-text-bold">
            Choose Widget
        </a>
    </div>
</nav>

<div class="container-fluid">

    <div class="list-group borderless">
        <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/HEADING"
           class="list-group-item list-group-item-action">
            Header</a>
        <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/HTML"
           class="list-group-item list-group-item-action">
            HTML</a>
        <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/IMAGE"
           class="list-group-item list-group-item-action">
            Image</a>
        <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/YOUTUBE"
           class="list-group-item list-group-item-action">
            YouTube</a>
        <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/TEXT"
           class="list-group-item list-group-item-action">
            Text</a>
    </div>

</div>


<nav class="navbar navbar-fixed-bottom navbar-default">
    <div class="container-fuild">
        <div class="navbar-text pull-right margin-right">
            <a href="#!/profile" class="cl-text-blue">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>