<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left margin-left">
            <a href="../page/page-list.view.client.html" class="cl-text-black">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="navbar-brand cl-text-bold" href="widget-list.view.client.html">
            Widgets
        </a>
        <div class="navbar-text pull-right" style="margin-right: 20px;">
            <a href="widget-choose.view.client.html" class="cl-text-black">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>


<div class="container cl-container-padding">
    <div class="cl-widget-heading">
        <div class="pull-right">
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
        <a class="cl-text-large cl-text-black">
            Climate Change
        </a>
    </div>

    <div class="cl-widget-list-item">
        <div class="pull-right">
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <a href="widget-heading.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <a class="cl-text-medium cl-text-black">
                Climate Change is one of the biggest environmental,
                social and economic challenges that we face as a local and international community.
            </a>
        </div>
    </div>

    <div class="cl-widget-list-item">
        <div>
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <a href="widget-image.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <img class="img-responsive img-rounded cl-widget-images"
                 src="https://thisgreenearth.files.wordpress.com/2015/02/scientists-clues-print.jpg">
        </div>
    </div>

    <div class="cl-widget-paragraph">
        <div class="pull-right">
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <a href="widget-heading.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <a class="cl-text-black">
                Council recognises the international scientific consensus that climate change is a result of increases
                in greenhouse gases in the atmosphere, influenced principally by human activities.
                While climate change is a global issue, it will affect us all. Climate change has the potential to
                adversely affect our environment, our communities and our economy unless we take action now to reduce
                our greenhouse gas emissions and prepare for the impacts.
            </a>
        </div>
    </div>

    <div class="cl-widget-list-item">
        <div class="pull-right">
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <a href="widget-heading.view.client.html" class="">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
        <a class="cl-text-medium cl-text-black">
            US Paris deal withdrawal: Extreme weather and climate change explained
        </a>
    </div>

    <div class="cl-widget-list-item">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tV2mrNr0eiU" frameborder="0" allowfullscreen>
            </iframe>
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger" style="background-color: white"></span>
            </a>
            <a href="widget-youtube.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog" style="background-color: white"></span>
            </a>
        </div>
    </div>

    <div class="cl-widget-paragraph">
        <div class="pull-right">
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <a href="widget-heading.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <a class="cl-text-black">
                WASHINGTON — President Trump announced on Thursday that the United States would withdraw
                from the Paris climate accord, weakening efforts to combat global warming and embracing isolationist
                voices in his White House who argued that the agreement was a pernicious threat to the economy and
                American sovereignty.
                As President Trump announces plans to withdraw the US from the Paris climate deal,
                we pull look at the facts and figures behind extreme weather events and climate change.
            </a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">

            <a href="../user/profile.view.client.html" class="tv-icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>

</div>
</body>
</html>